asgiref            3.8.1
Django             4.2.13
django-mongoengine 0.5.6
dnspython          2.6.1
mongoengine        0.28.2
pip                24.1.2
pymongo            3.12.3
pytz               2024.1
setuptools         65.5.0
sqlparse           0.5.0